<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="IMDB" connectionString="Data Source=DESKTOP-O5S4M82\SQLEXPRESS;Initial Ivan=IMDB;Integrated Security=True"/>
  </connectionStrings>
</configuration>